<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.MemberMapper">

	<select id="getMemberListCount" parameterType="searchVO" resultType="int">
		select
			count(*) cnt
		from
			member
	</select>

	<select id="getMemberList" parameterType="searchVO" resultType="memberVO">
		select
			*
		from
		(
			select 
			rownum rnum,
			c.*
		from 
			(
			select
				a.id,
				a.name,
				a.password,
				a.email
			from
				member a
			where
				order by a.create_date desc
				) c
		)
		where rnum between #{firstRecordIndex} + 1 and #{lastRecordIndex}
	</select>
	
	<select id="getMember" parameterType="string" resultType="memberVO">
		select
			id,
			name,
			password,
			email
		from
			member
		where
			id = #{id}
	</select>
	<select id="currentPassword" parameterType="memberVO">
		select
			id,
			name,
			email
		from
			member
		where
			id = #{id}
			and password = #{password}
	</select>
	<insert id="insertMember" parameterType="memberVO">
		insert into member
			(id, name, password, email)
		values
			(#{id}, #{name}, #{password}, #{email})
	</insert>
	<update id="updateMember" parameterType="memberVO">
		update
			member
		set
			name = #{name},
			password = #{password},
			email = #{email}
		where
			id = #{id}
	</update>
	<update id="changePassword" parameterType="memberVO">
		update
			member
		set
			password = #{password},
			modify_date = sysdate
		where
			id = #{id}
	</update>
	<delete id="deleteMember" parameterType="string">
		delete from
			member
		where
			id = #{id}
	</delete>
</mapper>