<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adopt.AdoptFormMapper">
	<select id="getAdoptFormList" resultType="formVO">
		select
			a.*, b.file_path
		from
			form a inner join animal b on a.animal_id = b.num  
		order by
			a.form_id desc
	</select>
	<insert id="addAdoptForm" parameterType="formVO">
		insert into form
			(animal_id, name, phone, address, live, family, experience1, experience2, state)
		values
			(#{animalId}, #{name}, #{phone}, #{address}, #{live}, #{family}, #{experience1}, #{experience2}, '심사중')
	</insert>
	<update id="updateAdoptForm" parameterType="formVO">
		update 
			form 
		set
			state=#{state}
		where
			form_id=#{formId}
	</update>
</mapper>