<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="photoBoard.PhotoBoardMapper">
	<select id="getPhotoBoardListCount" parameterType="searchVO" resultType="int">
		select
			count(*) cnt
		from
			PHOTO_BOARD a
		<where>
			<if test="searchType == 'title'">
				title like '%' || #{searchWord} || '%'
			</if>
			<if test="searchType == 'content'">
				content like '%' || #{searchWord} || '%'
			</if>
			<if test="searchType == 'writer'">
				b.name like '%' || #{searchWord} || '%'
			</if>
		</where>
	</select>
	<select id="getPhotoBoardList" parameterType="searchVO" resultType="photoBoardVO">
		select
			*
		from
		(
			select
				rownum rnum,
				c.*
			from
			(					
				select
					a.num,
					a.id,
					u.name,
					u.NICKNAME,
					a.title,
					a.content,
					a.FILE_PATH,
					a.create_date
				from
					PHOTO_BOARD a,
					users u
				<where>
					<if test="searchType == 'title'">
						title like '%' || #{searchWord} || '%'
					</if>
					<if test="searchType == 'content'">
						content like '%' || #{searchWord} || '%'
					</if>
					<if test="searchType == 'writer'">
						b.name like '%' || #{searchWord} || '%'
					</if>
				</where>
				where a.id = u.id
				order by a.create_date desc
			) c
		)
		where rnum between #{firstRecordIndex} + 1 and #{lastRecordIndex}

	</select>
	<select id="getPhotoBoard" parameterType="int" resultType="photoBoardVO">
		SELECT a.*, u.NICKNAME
		FROM PHOTO_BOARD a
		JOIN users u ON a.id = u.id
		WHERE num = #{num}
	</select>
	<insert id="insertPhotoBoard" parameterType="photoBoardVO">
		insert into PHOTO_BOARD
			(num, id, title, content, FILE_PATH,create_date)
		values
			(auto_incre.nextval, #{id}, #{title}, #{content}, #{filepath}, sysdate)
	</insert>
	<update id="updatePhotoBoard" parameterType="photoBoardVO">
		update
			photo_board
		set
			title = #{title},
			content = #{content},
			file_path = #{filepath}
		where
			num = #{num}
	</update>
	<delete id="deletePhotoBoard" parameterType="int">
		delete from
			PHOTO_BOARD
		where
			num = #{num}
	</delete>
</mapper>